.subject {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.9px;
    color: #1D293F;
}

#product-name {
    text-align: start;
}

#product-price {
    text-align: end;
}

.mentor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    color: #56B280;
}

.product-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: -0.9px;
    color: #272727;
}

.product-container-box {
    display: flex;
    padding: 2em;
    justify-content: center;
    height: 60vh;
    align-items: center;
    margin-top: 3em;
}

.product-container-right {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.product-container-left {
    padding: 1em;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.product-wrapper {

}

.product-details-box {
    border: 1px solid #E6E6E6;
    border-radius: 7px;
    margin: 4em;
}

.cart-product-container {
    display: flex;
    border-bottom: 1px solid #E5E5E5;
}

.cart-product-container-product-action > a > h3 {
    color: black;
}

.productCard {
    filter: drop-shadow(0px 4px 24px rgba(123, 123, 123, 0.15));
    width: 25%;
    max-width: 23%;
    flex-basis: 25%;
    margin: 1%;
    height: 15em;
}

.productCard:hover {
    filter: drop-shadow(0px 4px 24px rgba(123, 123, 123, 0.25));
    transform: scale(1.02);
    transition: all 300ms;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.product-card-details {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
}

.product-card-details > h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #1D293F;
}

.products-list-template-container {
    min-height: 65vh;
    padding-top: 3em
}

.product-list-container {
    text-align: center;
    padding: 1em 10em;
}

.product-list-search-panel {
    display: flex;
    justify-content: space-between;
    padding: 1em 10em 0em 10em;
    height: 65px;
    align-items: center;
    margin-top: 3em;
}

.product-list-search-panel > div > span > input {
    height: 100%;
    width: 100%;
}

.product-list-search-panel > div > span {
    height: 100%;
}

.product-list-search-panel > div {
    height: 100%;
}

.product-list-search-panel > * {
    width: 23% !important;
    height: 100% !important;
}

.product-details-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-details-actions {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 10px 0;
}

.product-details-section > div {
    padding: 1em 1em 1em 0em;
}

.product-container > h2 {
    width: 100%;
}

.price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.9px;
    color: #56B280;
}

.search-panel-action-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.p-galleria-item {
    background: #f7f7f7 !important;
}

.p-galleria-thumbnail-item-current {
    border: 0.5px solid rgba(86, 178, 128, 0.2) !important;
}
